:root {
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", serif;
  --dusty-pink-color: #e6d7d7;
}
.character {
  background-color: var(--dusty-pink-color);
  text-align: center;
  padding-top: 160px;
  padding-bottom: 40px;
  border-bottom: 3px white solid;
}
h1 {
  color: black;
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 86px;
}
.character h2 {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 36px;
}
.character h3 {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 20px;
}
.character p {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 36px;
}
.character a {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 16px;
}
.btn-branding {
  background-color: #3f3f3f;
  color: white;
  border-radius: 20px;
  line-height: 21px;
  padding: 8px 16px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}
.btn-branding:hover {
  border: 2px solid white;
  color: var(--dusty-pink-color);
}
h2 {
  font-size: 46px;
  font-family: var(--primary-font-family);
}
p {
  font-family: var(--secondary-font-family);
  font-size: 20px;
  font-weight: normal;
}
.btn-branding-secondary {
  background-color: var(--dusty-pink-color);
  color: black;
  border-radius: 20px;
  line-height: 21px;
  padding: 8px 16px;
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 16px;
  border: 2px solid;
  margin-bottom: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}
.btn-branding-secondary:hover {
  background-color: #3f3f3f;
  color: white;
  border: 2px solid var(--dusty-pink-color);
}
body {
  background-color: #3f3f3f;
}
.container {
  background-color: #3f3f3f;
  border: 20px solid var(--dusty-pink-color);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 30px 30px;
  color: white;
}
.fa-brands {
  color: white;
}
.project-description {
  padding: 30px;
  max-width: 500px;
}
@media (max-width: 900px) {
  .project-description {
    text-align: center;
    padding: 0;
    background-color: #3f3f3f;
    color: white;
  }
  .container {
    background-color: #3f3f3f;
    border-radius: none;
  }
  .btn-branding-secondary:hover {
    color: var(--dusty-pink-color);
  }
  h1,
  h2 {
    font-size: 36px;
  }
  .character h2,
  h3 {
    font-size: 12px;
  }
  .character p {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}
img.img-fluid {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}
.row {
  border-bottom: 2px solid var(--dusty-pink-color);
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.text-column {
  border-radius: 10px;
}
.my-intro-section {
  width: 100%;
  padding: 40px 60px;
  background-color: #3f3f3f;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);

  border-radius: 0;
}
.body-about {
  background-color: var(--dusty-pink-color);
}
.into-row {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.into-row p {
  font-size: 18px;
  line-height: 1.8;
  font-family: var(--secondary-font-family);
  color: white;
  text-align: justify;
}

@media (max-width: 900px) {
  .into-row {
    flex-direction: column;
    text-align: center;
  }

  .into-row .col-lg-3,
  .into-row .col-lg-9 {
    width: 100%;
    margin-bottom: 20px;
  }

  .into-row p {
    font-size: 18px;
    line-height: 1.8;
    font-family: var(--secondary-font-family);
    color: white;
    text-align: center;
    padding-right: 0px;
    max-width: 90%;
    margin: 0 auto;
  }

  img.img-fluid {
    max-height: 300px;
  }
}

.character-about {
  background-color: var(--dusty-pink-color);
  text-align: center;
  padding-top: 160px;
  padding-bottom: 40px;
}
.character-about a {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 20px;
}
.character-about p {
  font-size: 20px;
  font-family: var(--secondary-font-family);
  font-weight: normal;
}
.character-about h1 {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 76px;
}
.character-about h2 {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 30px;
}
.character-about h3 {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 20px;
}
